
<%- include("partials/header"); -%>

    <h1 class="about-me">About Me</h1>


   
    <img class="hobbyimg" src="images/hobby.jpg" alt="hobbyimage">

    <p class="about-paragraph"> <%= aboutPage %> </p>

   


   <%- include("partials/footer"); -%>