<%- include("partials/header"); -%>


<h1 class="about-me">About Olivia</h1>


<div>
    <img class="hobbyimg" src="images/hobby.jpg" alt="hobbyimage">
</div>

<div>
    <p class="about-paragraph"> <%= aboutPage %> </p>
</div>



<%- include("partials/footer"); -%>