
body {
    line-height: 1.5;
    font-family: 'Titillium Web', sans-serif;
}

/* NavBar */

.navbar {
    background-color: #f4f0ef;
}
.navbar-nav {
    margin-left: 40px;
}
.nav-item {
    font-weight: 400;
}
.social-media {
    padding-top: 18px;
    position: relative;
    left: 600px;
}
.social-media li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 22px;
}
.fab {
    color:black;
}
.fab:hover {
    color: #b86551;
}

/* Header content */

.header-content {
    text-align: center;
}
.the {
    text-decoration: underline;
    transform: rotate(270deg);
    position: relative;
    right: 140px;
    top: 70px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1.3px;
 }
.success {
    font-size: 60px;
    padding-left: 3px;
    font-weight: 700;
}
.blog {
    text-decoration: underline;
    transform: rotate(90deg);
    position: relative;
    left: 140px;
    bottom: 55px;
    font-size: 20px;
    font-weight: 200;
}
.real {
    margin-top: -40px;
    letter-spacing: 6px;
}

/* Page contents */

#page-content {
    max-width: 960px;
    margin: auto;
}

.motto {
    font-size: 30px;
    font-weight: 200;
}
.posts {
    font-size: 40px;
    font-weight: 400;
    margin-top: 250px;
}

/* about ejs */
.about-me {
    text-align: center;
}
.about-paragraph {
    width: 800px;
    margin: 30px auto;
    text-align: justify;
    padding: 30px;
}
.hobbyimg {
    float: left;
    margin-left: 250px;
    margin-top: 30px;
    padding: 30px;
}


/*contact ejs */

.contactTitle, .contactGet {
    text-align: center;
    margin: 50px;
}
.contactInfoMessage {
    width: 80%;
    margin-left: 100px;
}

.contactForm {
    margin: 50px 100px;
}
.form-group label {
    font-weight: 700;
}
.info {
    width: 60%;
}
.btn-dark:hover {
    background-color: #ebb2a2;
}

/* New Post ejs */

.newPost {
    text-align: center;
    margin-top: 40px;
}
.composeForm {
    width: 70%;
    margin: 30px auto;
}

/* Post ejs */

.postContent {
    margin: 50px 150px;
    text-align: justify;
}

/* Footer */

.footer {
    background-color: #f4f0ef;
    padding: 40px;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;     
}

.footer-links li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
}
.footer-links a {
    color: black;
}
.footer-links a:hover {
    color: #b86551;
    text-decoration: none;
}
.copyright {
    font-size: 12px;
    color: rgba(0,0,0,.5);
}
.fa-chevron-circle-up {
    font-size: 40px;
}
.top {
  text-align: right;
}
.top a {
    color: #b86551;
}
.top a:hover {
    color: #ebb2a2;
}