* {
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0px;
    line-height: 1.5;
    font-family: 'Titillium Web', sans-serif;
}

/* NavBar */

.navbar {
    background-color: #f4f0ef;
}
.navbar-nav {
    margin-left: 40px;
}
.nav-item {
    font-weight: 400;
}
.social-media {
    padding-top: 18px;
    position: relative;
    left: 600px;
}
.social-media li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 22px;
}
.fab {
    color:black;
}
.fab:hover {
    color: #b86551;
}

/* Header content */

.header-content {
    text-align: center;
}
.the {
    text-decoration: underline;
    transform: rotate(270deg);
    position: relative;
    right: 140px;
    top: 70px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1.3px;
 }
.success {
    font-size: 60px;
    padding-left: 3px;
    font-weight: 700;
}
.blog {
    text-decoration: underline;
    transform: rotate(90deg);
    position: relative;
    left: 140px;
    bottom: 55px;
    font-size: 20px;
    font-weight: 200;
}
.real {
    margin-top: -40px;
    letter-spacing: 6px;
}

/* Page contents */

/* Home ejs */

#page-content {
    max-width: 960px;
    margin: auto;
}

.motto {
    font-size: 30px;
    font-weight: 200;
}
.posts {
    font-size: 40px;
    font-weight: 400;
    margin-top: 250px;
}

/* about ejs */
.about-me {
    text-align: center;
}
.about-paragraph {
    width: 800px;
    margin: 30px auto;
    text-align: justify;
    padding: 30px;
}
.hobbyimg {
    float: left;
    margin-left: 250px;
    margin-top: 30px;
    padding: 30px;
}


/*contact ejs */

.contactTitle, .contactGet {
    text-align: center;
    margin: 50px;
}
.contactInfoMessage {
    width: 80%;
    margin-left: 100px;
}

.contactForm {
    margin: 50px 100px;
}
.form-group label {
    font-weight: 700;
}
.info {
    width: 60%;
}
.btn-dark:hover {
    background-color: #ebb2a2;
}

/* New Post ejs */

.newPost {
    text-align: center;
    margin-top: 40px;
}
.composeForm {
    width: 70%;
    margin: 30px auto;
}

/* Post ejs */

.postContent {
    margin: 50px 150px;
    text-align: justify;
}

/* Footer */

.footer {
    background-color: #f4f0ef;
    padding: 40px;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;     
}

.footer-links li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
}
.footer-links a {
    color: black;
}
.footer-links a:hover {
    color: #b86551;
    text-decoration: none;
}
.copyright {
    font-size: 12px;
    color: rgba(0,0,0,.5);
}
.fa-chevron-circle-up {
    font-size: 40px;
}
.top {
  text-align: center;
  margin-top: 10px;
}
.top a {
    color: #b86551;
}
.top a:hover {
    color: #ebb2a2;
}


/* Responsive */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

@media only screen 

and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

     /* home page */
    .profilePic1 {
        display: none;
    }
    .header-content {
        font-size: 7vw;
    }
    .profilePic2 {
        margin: 20px 30px 20px;
    }
   .mottoTitle {
       margin-left: 20px;
   }
   .motto {
       margin: 5px 10px 50px 20px;
   }
   .footer-links {
       text-align: left;
   }
   .top {
       text-align: center;
       margin-top: 20px;
   }
   .social-media-home {
       padding-top: 18px;
       position: unset;
       left: 0em;
   }

   /* about page */

   .hobbyimg {
       float: none;
       display: block;
       margin-right: auto;
       margin-left: auto;
       width: 90%
   }
   .about-paragraph {
       width: 300px;
       margin: 10px auto;
       text-align: justify;
       padding: 30px;
   }

   /* contact page */

   .contactInfoMessage {
        width: 300px;
        text-align: justify;
        margin-left: 10px;
        padding: 10px;
   }
   .contactForm {
       width: 80%;
       margin-left: 20px;
   }

   /* blog posts */
    
  .post-title, .post-body {
      margin: 5px 15px;
  }
  .postContent {
      margin: 15px auto;
      padding-right: 20px;
      padding-left: 20px;
  }
}

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (orientation: landscape) {

        .about-paragraph {
           width: 540px !important;
        }
    }


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
     
      /* home page */
    .footer-links {
        width: 80%;
    }

    /* about page */
    .about-paragraph {
        width: 375px;
    }

    /* contact page */

    .contactInfoMessage {
        width: 90%;
        margin-top: -20px;
    }
 }

 @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (orientation: landscape) {

    .contactInfoMessage {
        margin-right: auto;
        margin-left: auto;
        text-align: justify;
    }
    .contactForm {
        margin-left: 35px;
    }

}

 /* ----------- iPhone 6+, 7+ and 8+ ----------- */
 @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
    
      /* home page */
    .footer-links {
        width: 70%;
    }
        
 }

 @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (orientation: landscape) {

        .mobile-first {
            padding-right: 30px;
            padding-left: 30px;
        }
        .hobbyimg {
            margin-left: 5px;
        }
        .about-paragraph {
            width: auto;
        }
        .contactInfoMessage {
            text-align: justify;
        }
    }

    
 /* ----------- iPhone X ----------- */

 @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3) {
        
        /* Home page */
    .motto {
        margin: 5px 15px 50px 20px;
    }
 }

  /* ----------- iPad ----------- */

  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

        /* Home page */
    .desktop {
        margin-top: 30px;
    }    
    .col-9 {
        max-width: 45%;
        margin-left: 5%;
    }
    .top {
        text-align: center;
        margin-top: 10px;
    }
   
    /* About Page */
    .hobbyimg {
        float: none;
        display: block;
        margin: -10px auto;
        width: 50%;
    }
    .about-paragraph {
        width: 90%;
        padding: 10px;
        margin: 20px auto;
    }

    /* New Post page */
    .composeForm {
       padding-bottom: 160px;
    }

    /* Post page */
    .postContent {
        margin: 15px auto;
        padding-right: 30px;
        padding-left: 30px
    }
  }

    /* ----------- iPad PRO ----------- */
    @media only screen 
    and (min-device-width: 1024px)
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        .posts {
            padding-bottom: 277px;
        }
        .about-paragraph {
            padding-bottom: 229px;
        }
        .contactForm {
            padding-bottom: 136px;
        }
        .composeForm {
            padding-bottom: 503px;
        }
    }

    @media only screen
        and (min-device-width: 1366px)
        and (max-device-width: 1366px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 2) {

        .about-paragraph {
            margin-left: 230px;
        }  
    }

 /* ----------- Laptops ----------- */

 @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

      .hobbyimg {
          margin-left: 230px;
      }
}

 @media only screen 
 and (min-device-width: 1600px)
 and (max-device-height: 900px)
 and (-webkit-min-device-pixel-ratio: 2) {
    
    .hobbyimg {
        margin-left: 400px;
    }
    .composeForm {
        padding-bottom: 85px;
    }

 }

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 1024px) {
        .social-media {
            display: none;
        }
    }



 @media only screen and (min-device-width: 768px) {

    .mobile-first, .social-media-home {
        display: none;
    }
    
} 

@media only screen and (max-device-width: 760px) {
    .desktop {
        display: none;
    }
    
}
